/* Default font size */

/* Menu - icon */
.ui-icon-custom-menu {
	background: url("images/menu.png") no-repeat rgba(0, 0, 0, 0.4)
		!important;
	background-color: rgba(0, 0, 0, 0) !important;
	border: none !important;
	box-shadow: none !important;
	width: 24px;
	height: 24px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-custom-menu {
		background: url("images/menu@2x.png") no-repeat rgba(0, 0, 0, 0.4)
			!important;
		background-size: 24px 24px;
		border: none !important;
		box-shadow: none !important;
		width: 24px;
		height: 24px;
	}
}
/* Menu - icon - end */

.menu-icon {
    background: url(images/menu.png) no-repeat center;
    background-size: 24px 24px;
    width:38px;
    height:38px;
    display: inline;
    border:0px !important;
    cursor:pointer;
}

.check-icon {
    background: url(images/check.png) no-repeat left center;
    background-size: 30px 30px;
    padding-left:40px;
}

.play-icon {
     background: url(images/play.png) no-repeat center;
     background-size: 72px 72px;
     width:72px;
     height:72px;
     display: block;
     border:0px !important;
     cursor:pointer;
 }

.pause-icon {
    background: url(images/pause.png) no-repeat center;
    background-size: 72px 72px;
    width:72px;
    height:72px;
    display: block;
    border:0px !important;
    cursor:pointer;
}

.badge-icon {
    background: url(images/badge.png) no-repeat center;
    background-size: 18px 18px;
    width:32px;
    height:32px;
    display: block;
    float: left;
}

.timer-icon {
    background: url(images/timer.png) no-repeat center;
    background-size: 18px 18px;
    width:32px;
    height:32px;
    display: block;
    float: left;
}

.reload-icon {
    background: url(images/reload.png) no-repeat center;
    background-size: 32px 32px;
    width:50px;
    height:32px;
    display: inline-block;
    vertical-align: middle;
    opacity:0.3;
}

.goArrow-icon {
    background: url(images/goArrow.png) no-repeat right center;
    background-size: 64px 64px;
    width:64px;
    height:64px;
    vertical-align: middle;
    float: right;
}


/* Remove border around no-button custom icons */
.ui-btn-inner {
	border: none !important;
}

/* Remove background from filter box */
.ui-listview-filter {
	background-image: none !important;
	background: transparent !important;
	border: none !important;
}

/* Make filter box span entire width */
.ui-listview-filter div {
    margin: 0px !important;
    -webkit-border-radius: 0em !important;
    border-radius: 0em !important;
}

/* Make headings blue */
.recommendation h1 {
	color: #387bbe !important;
    font-size: 18px;
}

.recommendation h2 {
    font-size: 16px;
    -webkit-margin-after: 0.2em;
}

.recommendation p {
    font-size: 14px;
}

.recommendation-header {
    line-height: 32px;
    display: table-cell;
}

.recommendation-header h1 {
    display:inline;
    font-size: 20px;
    vertical-align: middle;
    color: #387bbe
}

.recommendation-content {
    background: url(images/goArrow.png) no-repeat right center;
    background-size: 48px 48px;
}


.recommendation {
    background-color: #ffffff;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px;

    margin-bottom: 25px;
    margin-left: -15px;
    margin-right: -15px;
    cursor:pointer;
}

/* Overwrite JQM size */
.ui-li-heading {
    font-size: 14px !important;
}

.ui-li-custom-equipment img { 
	height: 50px !important;
    margin-left: 15px;
}

.ui-li-custom-equipment span {
    margin-left: 15px;
}

.ui-li-custom-equipment div {
	width: 100% !important;
}

.ui-li-custom-equipment a {
	padding: 0px 0px 0px 80px !important;
	display: -webkit-box !important;
	display: box !important;
	-webkit-box-align: center !important;
	box-align: center !important;
}
.ui-li-custom-equipment {
	height: 50px !important;
	text-transform: capitalize !important;
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}

.checkmark-image-overlay {
	background:transparent url(../data/checkmark.png) no-repeat center;
	background-size:50px 50px;
	display:block;
	height:50px;
	width:50px;
	position:absolute;	
	text-decoration:none;
	opacity: 0.8;
	left: 0px;
	top: 0px;
}

.ui-li-customwod a {
    padding-bottom:0.4em !important;
    padding-top:0.4em !important;
}

.ui-li-customwod p {
    margin-bottom:0.7em !important;
}

.ui-menubutton {
	height: 36px !important;
	width: 36px !important;
}

.ui-li-customsinglewod {
    padding-top: 1.2em !important;
    padding-bottom: 1.2em !important;
}

.ui-li-customsinglewod p {
    margin-bottom: 0.8em;
    text-indent: 1.2em;
}

.ui-table th, .ui-table td {
    padding-left: 0em !important;
    padding-right: 0em !important;
    line-height:32px;
}

.ui-table td {
    font-size: 12px;
}

.first-column {
    border: 0px !important;
    width: 32px !important;
}

.div-single-wod-exercises {
    padding-left:32px;
}

.div-single-wod-exercises p {
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 0.3em;
}

.div-single-wod-first-line {
    height:32px;
    line-height:32px
}

.div-single-wod-first-line p {
    font-style: italic;
    text-indent: 0em !important;
    margin-bottom: 1.2em !important;
    -webkit-margin-before: 0.2em !important;
}

.div-single-wod-breaker {
    /*border-bottom: 1px solid rgba(0,0,0,.05);*/
    margin-bottom: 30px;
    margin-top: 20px;
}


.styled div {
    display: inline-block;
    margin-left: 10px;
    font-size: 60px;
    font-weight: 100;
    line-height: 1;
    text-align: right;
}

.styled div span {
    display: block;
    border-top: 1px solid #cecece;
    padding-top: 3px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
}

.styled span {
    display: block;
    padding-top: 3px;
}

.menupanel a {
    width: 32px;
    height: 32px;
}

.menupanel p {
    text-align: center;
    -webkit-margin-before:0.5em;
    -webkit-margin-after:0.5em;
    font-size: 16px;
}